{% extends 'blog/base.html' %}

{%block content%}
<div class="col-12">
    <div class="row text-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2>{{record.title}}</h2>
                </div>
                <div class="card-body">
                    <p>{{record.content}}</p>
                    <p>Просмотров: {{record.views_count}}</p>
                    <form method="post" action="{% url 'blog:like' record.pk%}">
                        {% csrf_token %}
                        <button type="submit"class="btn btn-outline-success">
                            <span class="glyphicon-class">like</span>
                        </button>
                    </form>
                    <form method="post" action="{% url 'blog:dislike' record.pk%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger">
                            <span class="glyphicon-class">dislike</span>
                        </button>
                    </form>
                </div>
                <div class="card-footer">
                    <a type="submit" class="btn btn-primary" href="{% url 'blog:list' %}">Назад</a>
                    <a type="submit" class="btn btn-primary" href="{% url 'blog:edit' record.pk%}">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}