{% extends 'catalog/base.html' %}
{% block content %}
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name|title }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.price}} руб.</h1>
                    <h4>{{product.description|truncatechars:100 }}</h4>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' pk=product.id%}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
