{% extends 'catalog/base.html' %}
{% load custom_tags %}
{% block content %}
  <div class="col-12">
    <div class="row text-center">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h2>{{ product.name }}</h2>
          </div>
          <div class="card-body">
            <img src="{{ product.image|my_media_filter }}" />
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price }}</p>
          </div>
          <div class="card-footer">
            <a type="submit" class="btn btn-primary" href="{% url 'catalog:index' %}">Назад</a>
            <a type="submit" class="btn btn-primary" href="{% url 'catalog:edit' product.pk %}">Редактировать</a>
          </div>
        </div>
      </div>
      {% if last %}
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              <h2>Последнее изменение</h2>
            </div>
            <div class="card-body">
              <h4>{{ last.v_name }}</h4>
              <h4>{{ last.add_date }}</h4>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
