{% extends 'catalog/base.html' %}
{% load custom_tags %}
{% block content %}
  <div class="col-12">
    <div class="row text-center">
      <form method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div class="card-header">Продукт</div>
              <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                {% if product %}
                  <button type="submit" class="btn btn-primary">Сохранить</button>
                {% else %}
                  <button type="submit" class="btn btn-primary">Создать</button>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-header">Изменение</div>
              <div class="card-body">
                {{ formset.management_form }}

                {% for form in formset.forms %}
                  {{ form.as_p }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
